<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>Navbar}}
     <div class="about">
        <div class="main">
            <h1>Explore Our Products</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error blanditiis nemo ipsam
                 reiciendis ipsum sint unde dolores eius voluptatum consequuntur
                 incidunt omnis cumque, odit ea placeat! Optio eum officia sequi.</p>
            <button class="btn">Explore more</button>
        </div>
     </div>
      <div class="services">
        <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
                 <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                 <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
                 <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                 <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
                 <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                 <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
                 <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
                 <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
               <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
                 <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
               <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
        <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="image/profies.png" alt="">
            </div>
            <div class="flip-card-back">
               <img src="image/profies.png" alt="">
                <h3>Head Phone</h3>
                <h1>Rs 2490</h1>
            </div>
        </div>
    </div>
    </div>
     {{>News}}
    
</body>
</html>