*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding:1.5rem 2% 0.5rem 6%;
    box-shadow:10px 5px 5px rgba(0,0,0, 0.5);
}
.navbar .logo{
    margin-top:-1.4rem;
    width: 6rem;
    height: 4rem;
}
ul{
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
    margin-left:22rem;
}
ul li{
    list-style: none;
    transition: all 0.3s;
}
ul li a{
    text-decoration: none;
    color: black;
    padding:0.5rem 1rem;
}
ul li:hover a{
    background:black;
    color: white;
    border-radius:20px;
}

.profile{
    display: flex;
    gap:0.4rem;
    margin-left:2rem;
}
.profile h3{
    font-size: 1.3rem;
}
.profile img{
    width: 3rem;
    height: 3rem;
    margin-top:-0.5rem;
}

/*  Home section stylling*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem  10%;
    /* gap: 3rem; */
    flex-wrap: wrap;
}
.content{
     flex: 1 1 25rem;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}
.content h1{
    font-size:3rem;
    font-weight: 500;
    color: #b774f6;
    text-transform: uppercase;
}
.content h3{
    font-size: 2.5rem;
    color: rgb(100, 100, 100);
}
.content p{
    width: 500px;
    color:#888;
    font-size:1.3rem;
    
}
.content .buttons{
    margin-top:0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.btn{
    padding:0.6rem 1.5rem;
    background: transparent;
    border:2px solid #b774f6;
    color: #444;
    font-size:1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
 color: #b774f6;
}

.home .image{
    flex:1 1 20rem;
    overflow: hidden;
    margin-left:6rem;
    margin-top:1rem;
}

/* home feature */

.features{
    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding:2rem 4rem ;
}
.cards{
    background: #b774f6;
    text-align: center;
    padding:0.5rem 0.5rem;
    border-radius:20px;
}

.cards i{
    font-size: 2.5rem;
    color: #444;

}
.cards h3{
    margin-top:1rem;
    font-size:1.5rem;
    color: #fff;
}
.cards p{
    padding:1rem 0.5rem;
    font-size:1.3rem;
}