*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding:1.5rem 2% 0.5rem 6%;
    box-shadow:10px 5px 5px rgba(0,0,0, 0.5);
}
.navbar .logo{
    margin-top:-1.4rem;
    width: 6rem;
    height: 4rem;
}
ul{
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
    margin-left:22rem;
}
ul li{
    list-style: none;
    transition: all 0.3s;
}
ul li a{
    text-decoration: none;
    color: black;
    padding:0.5rem 1rem;
}
ul li:hover a{
    background:black;
    color: white;
    border-radius:20px;
}

.profile{
    display: flex;
    gap:0.4rem;
    margin-left:2rem;
}
.profile h3{
    font-size: 1.3rem;
}
.profile img{
    width: 3rem;
    height: 3rem;
    margin-top:-0.5rem;
}

/*  Home section stylling*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem  10%;
    /* gap: 3rem; */
    flex-wrap: wrap;
}
.content{
     flex: 1 1 25rem;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}
.content h1{
    font-size:3rem;
    font-weight: 500;
    color: #b774f6;
    text-transform: uppercase;
}
.content h3{
    font-size: 2.5rem;
    color: rgb(100, 100, 100);
}
.content p{
    width: 500px;
    color:#888;
    font-size:1.3rem;
    
}
.content .buttons{
    margin-top:0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.btn{
    padding:0.6rem 1.5rem;
    background: transparent;
    border:2px solid #b774f6;
    color: #444;
    font-size:1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
 color: #b774f6;
}

.home .image{
    flex:1 1 20rem;
    overflow: hidden;
    margin-left:6rem;
    margin-top:1rem;
}

/* home feature */

.features{
    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding:2rem 4rem ;
}
.cards{
    background: #b774f6;
    text-align: center;
    padding:0.5rem 0.5rem;
    border-radius:20px;
}

.cards i{
    font-size: 2.5rem;
    color: #444;

}
.cards h3{
    margin-top:1rem;
    font-size:1.5rem;
    color: #fff;
}
.cards p{
    padding:1rem 0.5rem;
    font-size:1.3rem;
}

/* About page*/

.about .main{
    background: url('../image/nature.jpg');
    width:100vw;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.about .main h1{
   font-size:3rem;
   color: #fff;
   text-align: center;
   padding-top:4rem;
}
.about .main p{
    font-size:1.5rem;
    color: black;
    padding-top:2rem;
    width:600px;
    margin-left:28%;
    text-align: center;
 }
 .about .main .btn{
    padding:0.6rem 2rem;
    font-size: 1rem;
    border:2px solid black;
    color: black;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s;
    margin-left:38rem;
    margin-top: 2rem;
 }
 .about .main .btn:hover{
          background: black;
          color: white;
 }

 /* New Letter */
.news{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* gap: rem; */
    padding:4rem 6rem;
    background: #444;
    width: 100%;
}

.labels{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    text-align: center;
    align-items: center;
    flex: 1 1 20rem;
}
.labels h2{
    font-size:2rem;
    color: #b774f6;
}

.labels h3{
    font-size:1.8rem;
    color: White;
    /* margin-top:1rem; */
    text-decoration:underline;
}
.inputs{
    flex:1 1 20rem;
    margin-left: 1rem;
}
.inputs .emails{
    width: 18rem;
    height: 3rem;
    font-size:1.3rem;
    outline: none;
}
.inputs .btn{
    color: #b774f6;
    height: 3rem;
    font-size:1.3rem;
    margin-left: -0.5rem;
    transition: all 0.4s;
}
.inputs .btn:hover{
    color: white;
}

.services{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding:2rem  9%;
}
.services .cards{
    flex: 1 1 15rem;
    padding:1rem 0.5rem;

}



.flip-card{
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:transform 0.5s;
 transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}
.flip-card-front{
    background-image: linear-gradient(
        45deg, #6f04d9, #d9048e
    );
}
.flip-card-front img{
    width: 200px;
    margin-top: 1rem;
    border-radius:50%;
}
.flip-card-back{
    background-image: linear-gradient(215deg,#6f04d9, #8a045c);
    color: #fff;
    transform: rotateY(180deg);
}
.flip-card-back img{
    width: 140px;
    margin-top: 1rem;
    border-radius: 50%;
}
.flip-card-back h3{
    margin-bottom: 0.3rem;
}
.flip-card-back h1{
    margin: 0;
}


.forms{
    /* border: 2px solid gray; */
    text-align: center;
    display: flex;
    gap:1rem;
    flex-direction: column;
    padding-top:4rem;
}
.forms h2{
    font-size:2.5rem;
    color: #b774f6;
}
.form-r{
    padding-top:2rem;
    padding-bottom:2rem;
}
form{
    border:2px solid gray;
    display: flex;
    flex-direction: column;
    padding:2rem 2rem;
    gap: 1rem;
    width:400px;
    text-align: center;
    margin-left: 30rem;
}
.inputss{
    width:20.5rem;
    height: 2.5rem;
    font-size:1rem;
    background: rgb(235, 234, 234);
    outline: none;
    border-radius:10px;
    border: none;
    padding-left:0.8rem;
}